<!DOCTYPE html>
<html>
  <% include partials/head %>
  <div class="wrapper">
    <h1><%= title %></h1>
    <body>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Educational</th>
            <th>Shopping</th>
            <th>Browsing</th>
            <th>Social Media</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < usagelist.length; i++) { %>
          <tr>
            <td><%= usagelist[i]._id %></td>
            <td><%= usagelist[i].date %></td>
            <td><%= usagelist[i].name %></td>
            <td><%= usagelist[i].educational_usage %></td>
            <td><%= usagelist[i].shopping_usage %></td>
            <td><%= usagelist[i].browsing_usage %></td>
            <td><%= usagelist[i].socialmedia_usage %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div style="margin:0 auto ; width:50%; padding:20px">
        <form action="/usage/delete" autocomplete="off" method="post"> 
          <label>ID to be updated: </label>
          <input type="text" name="_id" placeholder="634e804394f66713d5514414">
          
          <br /> <br /><br /> <br /> 
          
          <label>Name: </label>
          <input type="text" name="name" placeholder="Jane Doe">
          
          <br /> <br /><br /> <br /> 
          
          <label>Educational Usage: </label>
          <input type="text" name="educational_usage" placeholder="50 minutes">
          
          <br /> <br /> <br /> <br />
          
          <label>Browsing Usage: </label>
          <input type="text" name="shopping_usage" placeholder="120 minutes">
          
          <br /> <br /><br /> <br />
          
          <label>Shopping Usage: </label>
          <input type="text" name="browsing_usage" placeholder="70 minutes">
          
          <br /> <br /> <br /> <br />
          
          <label>Social Media Usage: </label>
          <input type="text" name="socialmedia_usage" placeholder="340 minutes">
          
          <br /> <br /> <br /> <br />
          
          <button>Update</button>
        </form>
      </div>
    </body>
  </div>
  <% include partials/foot %>
</html>